---
import "../styles/global.css";

const { title } = Astro.props;
if (typeof title !== "string") {
    throw new Error("Title must be a string");
}
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
